.review-item{
    width: 571px;
    border:3px solid rgb(182, 178, 178);
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgb(193, 192, 192);
    margin-bottom:10px;
}
.review-item img{
    width: 91px;
    height: 91px;
    padding:4px;
    border-radius: 10px;
}